body {
	margin: 0;
	font-family: Helvetica Neue,Helvetica,Arial Unicode MS,Arial;
	font-size:12px;
	height: 100%;
}
.window, .window-chart{
	position: relative;
}
.windows canvas {
	position: absolute;
}
canvas:nth-of-type(1) {
	/*background-color: lightgrey;*/
}
canvas:nth-of-type(2) {
	background-color: rgb(227, 231, 253);
}
canvas:nth-of-type(3) {
	background-color: #f1e299;
}

canvas:nth-of-type(4) {
	background-color: limegreen;
}
canvas:nth-of-type(5) {
	background-color: yellow;
}
canvas.topCanvas{
	/*border-bottom: 1px solid black;*/
}
canvas.bottomCanvas{
	/*border-top: 1px solid black;*/
}
canvas.leftCanvas{
	/*border-right: 1px solid black;*/
}
canvas.rightCanvas{
	/*border-left: 1px solid black;*/
}
.main{
	/*border: 1px solid black;*/
	/*position:relative;*/
	/*z-index: 2;*/
	/* cursor: crosshair; */
}
.window_menu_item {
	height: 30px;
	width: 30px;
	position: relative;
	left: 20px;
}
.window_menu_item i {
	color: #f18808;
	font-size: 25px;
}
.main-menu{
	/*background-color: #E5E5E5;*/
	width: 100%;
	height: 34px;
	background: whiteSmoke;
	border-bottom: 1px solid #e0e0e0;
}
.main-menu ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.main-menu li{
	height: 20px;
	display: inline-block;
	position: relative;
	top: 7px;
	box-sizing: border-box;
	padding: 0px 2px 4px 2px;
	border: 1px solid transparent;
	margin-left: 5px;
	cursor: pointer;
	vertical-align: middle;
}
.main-menu li:hover {
	border: 1px solid gray;
	border-radius: 2px;
	opacity: 1;
}
.main-menu li:hover i{
	opacity: 1;
}
.main-menu .fa{
	/*color: #f18808;*/
	color: black;
	opacity:0.6;
	font-size: 16px;
}
.draw-figure-for-seeking, .mode-editor{
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;   
}
.block_settings{
	background-color: whitesmoke;
	position: absolute;
	top: 35px;
	right: 0;
	width: 240px;
	min-height: 300px;
	color: rgb(112, 112, 112);
}
.block_settings__group{
	padding: 12px 0px 12px 18px;
	border-bottom: 1px solid rgb(192, 192, 192);
}
.group_title{
	padding: 0px 0px 6px;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    font-weight: bold;
	
    text-align: left;
    cursor: default;
}
.group_line{
	white-space: nowrap;
	display: inline-block;
}
.group_line label{
	margin-right: 15px;	
}
input[type="number"]{
	padding-left: 5px;
}
input::-webkit-input-placeholder{ color: lightgray;}
input:-moz-placeholder{ color: lightgray;}
input::-moz-placeholder{ color: lightgray;}
input:-ms-input-placeholder{ color: lightgray;}
.bar_count input{ width: 50px;}
input[type="checkbox"]{
	width: auto;
	margin-left: 0;
}
.margin-top-20{
	margin-top: 20px;
}
.group-line-title{
	margin-bottom: 5px;
}
.content-after{
	margin-bottom: 5px;
}
.price-diapason{
	
}
.price-diapason.disabled{
	opacity: 0.4;
}
.block_name input{
	width: 189px;
}
li.text-menu{
	padding-top: 2px;
}
li.send-seek-button{
	position: absolute;
	right: 30px;
}
.hidden{
	display: none;
}
.indicator-OHLC{
	height: 15px;
	line-height: 15px;
    /* background: red; */
    display: inline-block;
    /* width: 100px; */
    position: absolute;
    font-size: 10px;
	white-space: pre;
	padding: 2px 0 0 5px;
}
.wrapper_group_line{
	margin-bottom:10px;
}
.wrapper_group-line-title{
	margin-bottom:5px;
	display: inline-block;
	width: 50px;
}
.menu-separator{
	border: none !important;
	border-left:1px solid #e5e5e5 !important;
	width: 5px;
	box-sizing: border-box;
}
.menu-separator:hover{
	border: none !important;
	border-left:1px solid #e5e5e5 !important;
}
.active-timeframe {
	background-color: lightgray;
	border: 1px solid gray !important;
}