body {
	margin: 0;
	font-family: Helvetica Neue,Helvetica,Arial Unicode MS,Arial;
	font-size:12px;
}
.window, .window-chart{
	position: relative;
}
.windows canvas {
	position: absolute;
}
canvas:nth-of-type(1) {
	/*background-color: lightgrey;*/
}
canvas:nth-of-type(2) {
	background-color: rgb(227, 231, 253);
}
canvas:nth-of-type(3) {
	background-color: #f1e299;
}

canvas:nth-of-type(4) {
	background-color: limegreen;
}
canvas:nth-of-type(5) {
	background-color: yellow;
}
canvas.topCanvas{
	/*border-bottom: 1px solid black;*/
}
canvas.bottomCanvas{
	/*border-top: 1px solid black;*/
}
canvas.leftCanvas{
	/*border-right: 1px solid black;*/
}
canvas.rightCanvas{
	/*border-left: 1px solid black;*/
}
.main{
	/*border: 1px solid black;*/
	/*position:relative;*/
	/*z-index: 2;*/
}
.window_menu_item {
	height: 30px;
	width: 30px;
	position: relative;
	left: 20px;
}
.window_menu_item i {
	color: #f18808;
	font-size: 25px;
}
.main-menu{
	/*background-color: #E5E5E5;*/
	width: 100%;
	height: 34px;
	background: whiteSmoke;
	border-bottom: 1px solid #e0e0e0;
}
.main-menu ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.main-menu li{
	height: 20px;
	display: inline-block;
	position: relative;
	top: 7px;
	box-sizing: border-box;
	padding: 0px 2px 4px 2px;
	border: 1px solid transparent;
	margin-left: 5px;
	cursor: pointer;
	vertical-align: middle;
}
.main-menu li:hover {
	border: 1px solid gray;
	border-radius: 2px;
	opacity: 1;
}
.main-menu li:hover i{
	opacity: 1;
}
.main-menu .fa{
	/*color: #f18808;*/
	color: black;
	opacity:0.6;
	font-size: 16px;
}
.mode-editor{
}